body,
html {
    height: 100%;
    margin: 0%;
    background-color:rgb(34, 34, 34)

}


div {
    height: 60px;
    background-color: rgb(61, 61, 61);
    /*position: relative;*/
}

svg {
    height: 25px;
    padding: 11px;
    fill: rgb(255, 255, 255);
}

button {
    /*position: relative;*/
    height: 50px;
    background-color: rgb(102, 99, 99);
    border-radius: 200px;
    border: none;
    margin: 5px;
}

button:hover{
    cursor: pointer;
}

.div2 {
    width: fit-content;
    margin-left: auto;
}